.messages
	.messages_title チャットグループが作成されました。

.chat-side
	.header
		.header__user
			tt
		.header__lists
			%i.list
				= link_to do
					= fa_icon 'pencil-square-o', class: 'icon'
			%i.list
				= link_to do
					= fa_icon 'cog', class: 'icon'

	.groups
		.group
			.group__name 
				グループ名
			.group__message 
				よろしく

.chat-main
	.header
		.header__group
			.header__group--name
				sampleグループ
			.header__group--member
				メンバー
		.header__edit Edit

	.messages
		.message
			.upper-message
				.upper-message__user-name
					name
				.upper-message__date
					2018/8/20 10:13:00
			.lower-massage
				.lower-message__comment
					こんにちは

	.form
		.message-box
			.message-box__message
				メッセージ
			.message-box__mask
				%label.message-box__mask--image
					= fa_icon 'image'
					%input.hidden{type: 'file'}
			.message-box__send Send
